<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="assets/img/ioniqstay.png" />
    <title>Ioniqtays</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="assets/img/favicon.ico" rel="icon">
    <script src="https://kit.fontawesome.com/c9a180e90d.js" crossorigin="anonymous"></script>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assets/css/style.css" rel="stylesheet">
<style>

/* Scrolling Animation */
@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Offer Container */
.offer-containerr {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

/* Scrolling Content */
.offer-contentt {
    white-space: nowrap;
    display: inline-block;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    padding-left: 100%;
    animation: scrollText 18s linear infinite;
     animation-delay: 1s;
}

/* Highlight for Offer Details */
.highlightt {
      color: #fff;
    padding: 4px 10px;
   }

.highlight-codee {
    color: #FEA116;
    padding: 4px 10px;
 
}

</style>
</head>

<body>
    <div class="container-fluid bg-white p-0">


        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0" id="header">
            <div class="gx-0 d-flex justify-content-between">

                <div class=" col-lg-3 bg-dark">
                    <a th:href="@{/}"
                        class="navbar-brand  mt-3  p-0 d-flex align-items-center justify-content-center">
                        <img class="logoinmob" src="assets/img/ioniqstay.png" style="height: 35px; width: 150px;" alt="">
                    </a>
                </div>
                <div class="col-lg-9">

                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">

                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a th:href="@{/}" class="nav-item nav-link active">Home</a>
                                <a href="about.html" class="nav-item nav-link">About</a>
                                <a href="service.html" class="nav-item nav-link">Services</a>
                                <a th:href="@{/ourroom}" class="nav-item nav-link">Rooms</a>
                                <a th:href="@{/contact}" class="nav-item nav-link">Contact</a>
                            </div>

                            <a href="tel:+7709110116" class="btn  me-5 btn-lg"
                                style=" margin-right: 100px; border-radius: 10px;"><i
                                    class="fa-sharp fa-solid fa-phone fa-shake me-2" style="color: #dbac00;"></i><span
                                    class="text-light fs-5">7709110116</span></a>
                            


                        </div>
                    </nav>
                    
                </div>
            </div>
        </div>

        <div class="pulse" onclick="sendwhatsapp()">
            <i class="">

                <img src="assets/img/Whatsapp.svg" style="height: 35px; width: 35px;">

            </i>
        </div>
        <!-- Carousel Start -->
        <div class="container-fluid p-0 mb-5">
            <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
          
                <div class="carousel-inner">
                
                    <div class="carousel-item active">
                        <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image">
                      
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                       
                            <div class="p-3" style="max-width: 700px;">
                                <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Luxury
                                    Living</h6>
                                <h1 class="display-3 text-white mb-4 animated slideInDown">Discover A Brand Luxurious
                                    Villa</h1>
                                <a th:href="@{/ourroom}"
                                    class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Our Rooms</a>
                                <a th:href="@{/book}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Book
                                    A Room</a>
                            </div>
                           
              <div class="offer-containerr">
        <div class="offer-contentt">
            🎉 Limited Time Offer: Get <span class="highlightt">50% OFF</span> villa bookings! 🎉
            Use code <span class="highlight-codee"> VILLA50 </span> at checkout. 
            Hurry up, offer ends soon! 🎉
    </div>
             
                        </div>
                    </div>
                    </div>
                                       <div class="carousel-item">
                        <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        
             
                            <div class="p-3" style="max-width: 700px;">
                                <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Luxury
                                    Living</h6>
                                <h1 class="display-3 text-white mb-4 animated slideInDown">Discover A Brand Luxurious
                                    Villa</h1>
                                 <a th:href="@{/ourroom}"
                                    class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Our Rooms</a>
                                <a th:href="@{/book}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Book
                                    A Room</a>
                            </div>
                          <div class="offer-containerr">
        <div class="offer-contentt">
          🎉 Limited Time Offer: Get <span class="highlightt">50% OFF</span> villa bookings! 🎉
            Use code <span class="highlight-codee"> VILLA50 </span> at checkout. 
            Hurry up, offer ends soon! 🎉
        </div>
    </div>
             
                        </div>
                             
             
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
       
        <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="bg-white shadow" style="padding: 35px;">
                    <!--<form action="checkIn" method="post">

                        <div class="row g-2">
                            <div class="col-md-10">
                                <div class="row g-2">
                                    <div class="col-md-2">
                                        <div class="date" id="date1" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                placeholder="Check in" data-target="#date1" name="Checkin"
                                                data-toggle="datetimepicker" required />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="date" id="date2" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                placeholder="Check out" data-target="#date2" name="Checkout"
                                                data-toggle="datetimepicker" required />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" placeholder="Persons" name="Persons"
                                            min="0" required />

                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control " name="phoneNumber"
                                            placeholder="Phone Number" id="PhoneNumber" maxlength="10" required />
                                    </div>
                                    <div class="col-md-3 ">
                                        <select id="location" name="location" class="form-control " required>
                                            <option value="lonavala">Select Location</option>
                                            <option value="lonavala">Lonavala</option>
                                            <option value="mahabaleshwar">Mahabaleshwar</option>
                                            <option value="khandala">Khandala</option>
                                            <option value="goa">Goa</option>
                                        </select>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="submitButton" type="submit" class="btn btn-primary w-100">Submit</button>
                            </div>

                        </div>
                    </form>
                   --><form action="/checkIn" method="post">
    <div class="row g-2">
        <div class="col-md-10">
            <div class="row g-2">
                <!-- Check-in Date -->
                <div class="col-md-2">
                    <div class="date" id="date1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                               placeholder="Check in" data-target="#date1" name="checkin"
                               data-toggle="datetimepicker" required />
                    </div>
                </div>
                
                <!-- Check-out Date -->
                <div class="col-md-2">
                    <div class="date" id="date2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                               placeholder="Check out" data-target="#date2" name="checkout"
                               data-toggle="datetimepicker" required />
                    </div>
                </div>
                
                <!-- Number of Persons -->
                <div class="col-md-2">
                    <input type="number" class="form-control" placeholder="Persons" name="persons"
                           min="0" required />
                </div>
                
                <!-- Phone Number -->
                <div class="col-md-3">
                    <input type="text" class="form-control" name="phoneNumber"
                           placeholder="Phone Number" id="PhoneNumber" maxlength="10" required />
                </div>
                
                <!-- Location -->
                <div class="col-md-3">
                    <select id="location" name="location" class="form-control" required>
                        <option value="">Select Location</option>
                        <option value="lonavala">Lonavala</option>
                        <option value="mahabaleshwar">Mahabaleshwar</option>
                        <option value="khandala">Khandala</option>
                        <option value="goa">Goa</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <button id="submitButton" type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
    </div>
</form>

                </div>
            </div>
        </div>
         
  <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">welcome to Ioniqstays</h6>
                    <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>

                    <div class="d-flex justify-content-center mb-4">
                        <div
                            class="d-flex row row-cols-2 row-cols-md-4 col-md-6 justify-content-center location-buttons">
                            <div class="col-6 col-md-3"><button
                                    class="btn btn-outline-warning border border-0 fw-bolder btn-primary"
                                    onclick="showRooms('lonavala')">Lonavala </button></div>
                            <div class="col-6 col-md-3"><button
                                    class="btn btn-outline-warning border border-0 fw-bolder btn-primary"
                                    onclick="showRooms('khandala')">Khandala </button></div>
                            <div class="col-6 col-md-3"> <button
                                    class="btn btn-outline-warning border border-0 fw-bolder btn-primary"
                                    onclick="showRooms('mahabaleshwar')">Mahabaleshwar </button></div>
                            <div class="col-6 col-md-3"><button
                                    class="btn btn-outline-warning border border-0 fw-bolder btn-primary"
                                    onclick="showRooms('goa')">Goa</button></div>
                        </div>
                    </div>
                </div>

                <div class="room-list row g-4" id="room-list">
               </div>
            </div>
        </div>
 
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                
                
                 <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s"
                                    src="assets/img/about-1.png" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s"
                                    src="assets/img/about-2.png">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s"
                                    src="assets/img/about-3.png">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s"
                                    src="assets/img/about-4.png">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <h6 class="section-title text-start text-primary text-uppercase">About Us</h6>
                        <h1 class="mb-4">About<span class="text-primary text-uppercase">Ioniq stays</span></h1>
                        <p class="mb-4">We offer the best rates and exceptional customer service, ensuring that
                            you can concentrate on enjoying your stay while we handle all the booking details.</p>
                        <div class="row g-3 pb-4">
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-hotel fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">25</h2>
                                        <p class="mb-0">Rooms</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">80</h2>
                                        <p class="mb-0">Staffs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-users fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">100</h2>
                                        <p class="mb-0">Clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="expo.html">Explore More</a>
                    </div>
                   
                </div>
            </div>
        </div>

       
        
   <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Our Services</h6>
                    <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="service-item rounded">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div
                                    class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <img src="assets/img/bedroom.png" style="height: 40px;">
                                </div>
                            </div>
                            <h5 class="mb-3">Rooms & Appartment</h5>
                            <p class="text-body mb-0"> </p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <a class="service-item rounded">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div
                                    class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <img src="assets/img/kitchen.png" style="height: 40px;">
                                </div>
                            </div>
                            <h5 class="mb-3">Kitchen</h5>
                            <p class="text-body mb-0"> </p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="service-item rounded">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div
                                    class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <img src="assets/img/wi-fi.png" style="height: 40px;">
                                </div>
                            </div>
                            <h5 class="mb-3">Wifi </h5>
                            <p class="text-body mb-0"> </p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <a class="service-item rounded">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div
                                    class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <img src="assets/img/tv-show.png" style="height: 40px;">
                                </div>
                            </div>
                            <h5 class="mb-3">Smart Television</h5>
                            <p class="text-body mb-0"> </p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="service-item rounded">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div
                                    class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <img src="assets/img/cheers.png" style="height: 40px;">
                                </div>
                            </div>
                            <h5 class="mb-3">Event & Party</h5>
                            <p class="text-body mb-0"></p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <a class="service-item rounded">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div
                                    class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <img src="assets/img/swimmer.png" style="height: 40px;">
                                </div>
                            </div>
                            <h5 class="mb-3">Swimming Pool</h5>
                            <p class="text-body mb-0"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div><br><br><br>

        <div class=" footer container-fluid bg-dark text-light  wow fadeIn" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <a href="index.html">
                            <img src="assets/img/ioniqstay.png" alt="" srcset="" style="width: 50%; padding-top: 10px;">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Lonavla,Gold Valley,Sector-e,
                            Ashapura
                            Residency</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>7709110116</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>Ioniqstays@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social"
                                href="https://www.instagram.com/jannatvillas?igsh=cGZmcnRyY3RqOWNo"><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                                <a class="btn btn-link" href="about.html">About Us</a>
                                <a class="btn btn-link" href="contact.html">Contact Us</a>
                                <a class="btn btn-link" href="">Privacy Policy</a>
                                <a class="btn btn-link" href="">Terms & Condition</a>
                                <a class="btn btn-link" href="">Support</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="index.html">Ioniq Stays</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="index.html">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FAQ's</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/lib/wow/wow.min.js"></script>
    <script src="assets/lib/easing/easing.min.js"></script>
    <script src="assets/lib/waypoints/waypoints.min.js"></script>
    <script src="assets/lib/counterup/counterup.min.js"></script>
    <script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="assets/lib/tempusdominus/js/moment.min.js"></script>
    <script src="assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="assets/js/main.js"></script>

    <script>

        const rooms = {
            lonavala: [
                {
                    name: "Deluxe Villa - 2 Bedrooms",
                    price: "₹8000",
                    img: "assets/img/room-1.png",
                    details: "2 Bed, 2 Bath, Wifi",
                    rating: 5,
                },
                {
                    name: "Luxury Villa - 3 Bedrooms",
                    price: "₹12000",
                    img: "assets/img/room-2.png",
                    details: "3 Bed, 3 Bath, Pool, Wifi",
                    rating: 5,
                },
                {
                    name: "Cozy Cottage - 1 Bedroom",
                    price: "₹5000",
                    img: "assets/img/room-3.png",
                    details: "5 Bed, 3 Bath, Wifi",
                    rating: 4,
                },
            ],
            khandala: [
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
            ],
            mahabaleshwar: [
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
            ],
            goa: [
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
                {
                    name: "Coming Soon",
                    img: "assets/kiddy/images/coming_soon.jpg",
                },
            ],
        };

        function showRooms(location) {
            const roomListDiv = document.getElementById("room-list");
            roomListDiv.innerHTML = ""; // Clear previous room list
            roomListDiv.classList.remove("show"); // Hide the room list

            const selectedRooms = rooms[location];
            selectedRooms.forEach((room, index) => {
                const roomItem = document.createElement("div");
                roomItem.classList.add(
                    "col-lg-4",
                    "col-md-6",
                    );

                if (room.name === "Coming Soon") {
                  
                    roomItem.innerHTML = ` 
                        <div class="coming-soon wow fadeInUp" data-wow-delay="0.3s">
                             <div class="room-item shadow rounded overflow-hidden">
                             <div style="background-color:#c0c0c0; height: 400px; width: 100%; display: flex; justify-content:center; align-items:center">
                                <h2 style="opacity:25%" >Coming Soon</h2>
                            </div>

                            <div class="p-4 mt-2">
                                <h5 class="mb-0">${room.name}</h5>
                                
                            </div>
                        </div>
                        </div>
                    `;
                } else {
                      roomItem.innerHTML = `
                        <div class = "wow fadeInUp" data-wow-delay="0.3s">
                            <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative " >
                            <img class="room-image img-fluid" src="${room.img}" alt="${room.name
                        }" />
                            <small class="room-price position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">${room.price || "N/A"
                        }</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">${room.name}</h5>
                                <div class="ps-2">
                                    ${Array.from(
                            { length: room.rating || 0 },
                            (_, i) =>
                                `<small class="fa fa-star text-primary"></small>`
                        ).join("")}
                                    ${Array.from(
                            { length: 5 - (room.rating || 0) },
                            (_, i) =>
                                `<small class="fa fa-star text-secondary"></small>`
                        ).join("")}
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>${room.details.split(",")[0]
                        }</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>${room.details.split(",")[1]
                        }</small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-primary rounded py-2 px-4" href="more.html">View Detail</a>
                                <a class="btn btn-sm btn-dark rounded py-2 px-4" href="./bookn.html">Book Now</a>
                            </div>
                        </div>
                        </div>
                        </div>
                    `;
                }

                roomListDiv.appendChild(roomItem);
            
                setTimeout(() => {
                    roomItem.classList.add("show");
                }, index * 100); // Staggered delay for effect
            });
         
            setTimeout(() => {
                roomListDiv.classList.add("show");
            }, 100); // Delay to allow for item rendering
        }
 
        showRooms("lonavala");


/*------------------------------------------------------------------------------------------------------------------------*/
        
        
                         const submitButton = document.getElementById("submitButton");

                        form.addEventListener('submit', e => {
                            e.preventDefault();
                            submitButton.disabled = true;
                            if (!form.checkValidity()) {
                                alert("Please fill out all required fields.");
                                submitButton.disabled = false;  // Re-enable the button if validation fails
                                return;
                            }

                            fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                                .then(response => {
                                    alert("Form Data Submitted Successfully");
                                    form.reset(); // Optionally reset the form after successful submission
                                    submitButton.disabled = false; // Re-enable the button after successful submission
                                })
                                .catch(error => {
                                    console.error('Error!', error.message);
                                    alert("There was an error submitting the form. Please try again.");
                                    submitButton.disabled = false;  // Re-enable the button if submission fails
                                });
                        });

                    </script>
</body>

</html>
